{
    "swagger":"2.0",
    "info":{
       "title":"Predictive Access SDK",
       "description":"The official Predictive Access SDK",
       "contact":{
          "name":"Predictive Support",
          "url":"https://predictivetech.io/contact",
          "email":"support@predictivetech.io"
       },
       "license":{
          "name":"Apache 2.0",
          "url":"http://www.apache.org/licenses/LICENSE-2.0.html"
       },
       "version":"1.0.0"
    },
    "host":"api.predictivetech.io",
    "basePath":"/access",
    "schemes":[
       "https"
    ],
    "paths":{
       "/accounts":{
          "get":{
             "summary":"get_accounts",
             "description":"Retrieve a collection of accounts.",
             "tags":[
                "account"
             ],
             "operationId":"get_accounts",
             "produces":[
                "application/json"
             ],
             "parameters":[
                {
                   "name":"authorization",
                   "in":"header",
                   "description":"Due to the limitations of the Open API 2 specification authorization headers are supplied on a per function basis. The acceptable formats for this header are `Bearer <session_id>` where `<session_id>` is replaced by the session id or `Digest <api_key_signature>` where `<api_key_signature>` is replaced by the API key signature.",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"sort",
                   "in":"query",
                   "description":"The field name that should be used to sort the resulting collection. This value must exist as a property of the response object otherwise a default sort will be applied.",
                   "type":"string"
                },
                {
                   "name":"page",
                   "in":"query",
                   "description":"The page number to request. If the value is larger than the maximum pages available the last page will be returned. If a value less than 1 is specified the first page will be returned. Collection information is available in the headers.",
                   "type":"integer",
                   "format":"int32"
                },
                {
                   "name":"perPage",
                   "in":"query",
                   "description":"The number of records to include in a single page. If a value of less than 1 is specified a best effort to return the whole collection will be made. This is not guaranteed and the response headers should be checked to obtain any additional pages.",
                   "type":"integer",
                   "format":"int32"
                },
                {
                   "name":"fields",
                   "in":"query",
                   "description":"A comma separated list of property fields that should be included in the response model. These values must exist as a properties of the response object. The id field will always be returned regardless.",
                   "type":"string"
                },
                {
                   "name":"filter",
                   "in":"query",
                   "description":"A URL encoded query filter. For more information on filter formats see the documentation.",
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"A collection (or subset) of accounts based on the callers privileges and the query parameters.",
                   "schema":{
                      "type":"array",
                      "items":{
                         "$ref":"#/definitions/account"
                      }
                   }
                },
                "400":{
                   "description":"If the request is badly formatted. For specific information see the message in the response.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "401":{
                   "description":"If the credentials used to make the call are invalid or expired.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "403":{
                   "description":"If the caller has insufficient privileges to perform the requested action.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "500":{
                   "description":"On rare occasions it is possible that a requests triggers an undefined error. These are reported automatically to the development team.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                }
             }
          },
          "post":{
             "summary":"create_account",
             "description":"Create a new account with a root user. Both actions are considered to be part of the same atomic operation. If either fail the request will return an error and neither resource will be created.",
             "tags":[
                "account"
             ],
             "operationId":"create_account",
             "produces":[
                "application/json"
             ],
             "consumes":[
                "application/json"
             ],
             "responses":{
                "201":{
                   "description":"The created `new_account` containing both the root user and the account. These will include the auto generated id.",
                   "schema":{
                      "$ref":"#/definitions/new_account"
                   }
                },
                "400":{
                   "description":"If the request is badly formatted. For specific information see the message in the response.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "401":{
                   "description":"If the credentials used to make the call are invalid or expired.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "403":{
                   "description":"If the caller has insufficient privileges to perform the requested action.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "500":{
                   "description":"On rare occasions it is possible that a requests triggers an undefined error. These are reported automatically to the development team.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                }
             },
             "parameters":[
                {
                   "name":"authorization",
                   "in":"header",
                   "description":"Due to the limitations of the Open API 2 specification authorization headers are supplied on a per function basis. The acceptable formats for this header are `Bearer <session_id>` where `<session_id>` is replaced by the session id or `Digest <api_key_signature>` where `<api_key_signature>` is replaced by the API key signature.",
                   "required":true,
                   "type":"string"
                },
                {
                   "in":"body",
                   "name":"body",
                   "required":true,
                   "schema":{
                      "$ref":"#/definitions/new_account"
                   }
                }
             ]
          }
       },
       "/accounts/{accountId}":{
          "get":{
             "summary":"get_account",
             "description":"Retrieve a specific account by its id.",
             "tags":[
                "account"
             ],
             "operationId":"get_account",
             "produces":[
                "application/json"
             ],
             "parameters":[
                {
                   "name":"authorization",
                   "in":"header",
                   "description":"Due to the limitations of the Open API 2 specification authorization headers are supplied on a per function basis. The acceptable formats for this header are `Bearer <session_id>` where `<session_id>` is replaced by the session id or `Digest <api_key_signature>` where `<api_key_signature>` is replaced by the API key signature.",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"fields",
                   "in":"query",
                   "description":"A comma separated list of property fields that should be included in the response model. These values must exist as a properties of the response object. The id field will always be returned regardless.",
                   "type":"string"
                },
                {
                   "name":"accountId",
                   "in":"path",
                   "description":"The id of the account.",
                   "required":true,
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"The requested account.",
                   "schema":{
                      "$ref":"#/definitions/account"
                   }
                },
                "400":{
                   "description":"If the request is badly formatted. For specific information see the message in the response.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "401":{
                   "description":"If the credentials used to make the call are invalid or expired.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "403":{
                   "description":"If the caller has insufficient privileges to perform the requested action.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "404":{
                   "description":"If the resource with the specified id does not exist.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "500":{
                   "description":"On rare occasions it is possible that a requests triggers an undefined error. These are reported automatically to the development team.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                }
             }
          },
          "delete":{
             "summary":"delete_account",
             "description":"Delete an account along with all its associated resource and users.",
             "tags":[
                "account"
             ],
             "operationId":"delete_account",
             "responses":{
                "204":{
                   "description":"The account was successfully deleted."
                },
                "400":{
                   "description":"If the request is badly formatted. For specific information see the message in the response.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "401":{
                   "description":"If the credentials used to make the call are invalid or expired.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "403":{
                   "description":"If the caller has insufficient privileges to perform the requested action.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "404":{
                   "description":"If the resource with the specified id does not exist.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "500":{
                   "description":"On rare occasions it is possible that a requests triggers an undefined error. These are reported automatically to the development team.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                }
             },
             "parameters":[
                {
                   "name":"authorization",
                   "in":"header",
                   "description":"Due to the limitations of the Open API 2 specification authorization headers are supplied on a per function basis. The acceptable formats for this header are `Bearer <session_id>` where `<session_id>` is replaced by the session id or `Digest <api_key_signature>` where `<api_key_signature>` is replaced by the API key signature.",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"accountId",
                   "in":"path",
                   "description":"The id of the account.",
                   "required":true,
                   "type":"string"
                }
             ]
          },
          "patch":{
             "summary":"modify_account",
             "description":"Modify an account. Only supplied properties that differ from the existing will be patched.",
             "tags":[
                "account"
             ],
             "operationId":"modify_account",
             "produces":[
                "application/json"
             ],
             "consumes":[
                "application/json"
             ],
             "responses":{
                "201":{
                   "description":"The complete modified `account`.",
                   "schema":{
                      "$ref":"#/definitions/account"
                   }
                },
                "400":{
                   "description":"If the request is badly formatted. For specific information see the message in the response.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "401":{
                   "description":"If the credentials used to make the call are invalid or expired.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "403":{
                   "description":"If the caller has insufficient privileges to perform the requested action.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "500":{
                   "description":"On rare occasions it is possible that a requests triggers an undefined error. These are reported automatically to the development team.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                }
             },
             "parameters":[
                {
                   "name":"authorization",
                   "in":"header",
                   "description":"Due to the limitations of the Open API 2 specification authorization headers are supplied on a per function basis. The acceptable formats for this header are `Bearer <session_id>` where `<session_id>` is replaced by the session id or `Digest <api_key_signature>` where `<api_key_signature>` is replaced by the API key signature.",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"accountId",
                   "in":"path",
                   "description":"The id of the account.",
                   "required":true,
                   "type":"string"
                },
                {
                   "in":"body",
                   "name":"body",
                   "required":true,
                   "schema":{
                      "$ref":"#/definitions/account"
                   }
                }
             ]
          }
       },
       "/accounts/{accountId}/datas":{
          "put":{
             "summary":"update_account_data",
             "description":"Update an account data with a new one. The operation is idempotent and the entire model is replaced. To set the data object as empty you must put an object with a single empty KVP: { \"\": [] }",
             "tags":[
                "account"
             ],
             "operationId":"update_account_data",
             "produces":[
                "application/json"
             ],
             "consumes":[
                "application/json"
             ],
             "responses":{
                "201":{
                   "description":"The complete modified `data`.",
                   "schema":{
                      "$ref":"#/definitions/data"
                   }
                },
                "400":{
                   "description":"If the request is badly formatted. For specific information see the message in the response.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "401":{
                   "description":"If the credentials used to make the call are invalid or expired.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "403":{
                   "description":"If the caller has insufficient privileges to perform the requested action.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "500":{
                   "description":"On rare occasions it is possible that a requests triggers an undefined error. These are reported automatically to the development team.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                }
             },
             "parameters":[
                {
                   "name":"authorization",
                   "in":"header",
                   "description":"Due to the limitations of the Open API 2 specification authorization headers are supplied on a per function basis. The acceptable formats for this header are `Bearer <session_id>` where `<session_id>` is replaced by the session id or `Digest <api_key_signature>` where `<api_key_signature>` is replaced by the API key signature.",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"accountId",
                   "in":"path",
                   "description":"The id of the account.",
                   "required":true,
                   "type":"string"
                },
                {
                   "in":"body",
                   "name":"body",
                   "required":true,
                   "schema":{
                      "$ref":"#/definitions/data"
                   }
                }
             ]
          }
       },
       "/accounts/{accountId}/users":{
          "get":{
             "summary":"get_account_users",
             "description":"Retrieve a collection of account users.",
             "tags":[
                "account",
                "user"
             ],
             "operationId":"get_account_users",
             "produces":[
                "application/json"
             ],
             "parameters":[
                {
                   "name":"authorization",
                   "in":"header",
                   "description":"Due to the limitations of the Open API 2 specification authorization headers are supplied on a per function basis. The acceptable formats for this header are `Bearer <session_id>` where `<session_id>` is replaced by the session id or `Digest <api_key_signature>` where `<api_key_signature>` is replaced by the API key signature.",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"sort",
                   "in":"query",
                   "description":"The field name that should be used to sort the resulting collection. This value must exist as a property of the response object otherwise a default sort will be applied.",
                   "type":"string"
                },
                {
                   "name":"page",
                   "in":"query",
                   "description":"The page number to request. If the value is larger than the maximum pages available the last page will be returned. If a value less than 1 is specified the first page will be returned. Collection information is available in the headers.",
                   "type":"integer",
                   "format":"int32"
                },
                {
                   "name":"perPage",
                   "in":"query",
                   "description":"The number of records to include in a single page. If a value of less than 1 is specified a best effort to return the whole collection will be made. This is not guaranteed and the response headers should be checked to obtain any additional pages.",
                   "type":"integer",
                   "format":"int32"
                },
                {
                   "name":"fields",
                   "in":"query",
                   "description":"A comma separated list of property fields that should be included in the response model. These values must exist as a properties of the response object. The id field will always be returned regardless.",
                   "type":"string"
                },
                {
                   "name":"filter",
                   "in":"query",
                   "description":"A URL encoded query filter. For more information on filter formats see the documentation.",
                   "type":"string"
                },
                {
                   "name":"accountId",
                   "in":"path",
                   "description":"The id of the account.",
                   "required":true,
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"A collection (or subset) of accounts based on the callers privileges and the query parameters.",
                   "schema":{
                      "type":"array",
                      "items":{
                         "$ref":"#/definitions/user"
                      }
                   }
                },
                "400":{
                   "description":"If the request is badly formatted. For specific information see the message in the response.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "401":{
                   "description":"If the credentials used to make the call are invalid or expired.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "403":{
                   "description":"If the caller has insufficient privileges to perform the requested action.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "500":{
                   "description":"On rare occasions it is possible that a requests triggers an undefined error. These are reported automatically to the development team.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                }
             }
          }
       },
       "/users":{
          "get":{
             "summary":"get_users",
             "description":"Retrieve a collection of users.",
             "tags":[
                "user"
             ],
             "operationId":"get_users",
             "produces":[
                "application/json"
             ],
             "parameters":[
                {
                   "name":"authorization",
                   "in":"header",
                   "description":"Due to the limitations of the Open API 2 specification authorization headers are supplied on a per function basis. The acceptable formats for this header are `Bearer <session_id>` where `<session_id>` is replaced by the session id or `Digest <api_key_signature>` where `<api_key_signature>` is replaced by the API key signature.",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"sort",
                   "in":"query",
                   "description":"The field name that should be used to sort the resulting collection. This value must exist as a property of the response object otherwise a default sort will be applied.",
                   "type":"string"
                },
                {
                   "name":"page",
                   "in":"query",
                   "description":"The page number to request. If the value is larger than the maximum pages available the last page will be returned. If a value less than 1 is specified the first page will be returned. Collection information is available in the headers.",
                   "type":"integer",
                   "format":"int32"
                },
                {
                   "name":"perPage",
                   "in":"query",
                   "description":"The number of records to include in a single page. If a value of less than 1 is specified a best effort to return the whole collection will be made. This is not guaranteed and the response headers should be checked to obtain any additional pages.",
                   "type":"integer",
                   "format":"int32"
                },
                {
                   "name":"fields",
                   "in":"query",
                   "description":"A comma separated list of property fields that should be included in the response model. These values must exist as a properties of the response object. The id field will always be returned regardless.",
                   "type":"string"
                },
                {
                   "name":"filter",
                   "in":"query",
                   "description":"A URL encoded query filter. For more information on filter formats see the documentation.",
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"A collection (or subset) of users based on the callers privileges and the query parameters.",
                   "schema":{
                      "type":"array",
                      "items":{
                         "$ref":"#/definitions/user"
                      }
                   }
                },
                "400":{
                   "description":"If the request is badly formatted. For specific information see the message in the response.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "401":{
                   "description":"If the credentials used to make the call are invalid or expired.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "403":{
                   "description":"If the caller has insufficient privileges to perform the requested action.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "500":{
                   "description":"On rare occasions it is possible that a requests triggers an undefined error. These are reported automatically to the development team.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                }
             }
          },
          "post":{
             "summary":"create_user",
             "description":"Create a new user.",
             "tags":[
                "user"
             ],
             "operationId":"create_user",
             "produces":[
                "application/json"
             ],
             "consumes":[
                "application/json"
             ],
             "responses":{
                "201":{
                   "description":"The created `user` including the auto generated id.",
                   "schema":{
                      "$ref":"#/definitions/user"
                   }
                },
                "400":{
                   "description":"If the request is badly formatted. For specific information see the message in the response.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "401":{
                   "description":"If the credentials used to make the call are invalid or expired.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "403":{
                   "description":"If the caller has insufficient privileges to perform the requested action.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "500":{
                   "description":"On rare occasions it is possible that a requests triggers an undefined error. These are reported automatically to the development team.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                }
             },
             "parameters":[
                {
                   "name":"authorization",
                   "in":"header",
                   "description":"Due to the limitations of the Open API 2 specification authorization headers are supplied on a per function basis. The acceptable formats for this header are `Bearer <session_id>` where `<session_id>` is replaced by the session id or `Digest <api_key_signature>` where `<api_key_signature>` is replaced by the API key signature.",
                   "required":true,
                   "type":"string"
                },
                {
                   "in":"body",
                   "name":"body",
                   "required":true,
                   "schema":{
                      "$ref":"#/definitions/user"
                   }
                }
             ]
          }
       },
       "/users/{userId}":{
          "get":{
             "summary":"get_user",
             "description":"Retrieve a specific user by its id.",
             "tags":[
                "user"
             ],
             "operationId":"get_user",
             "produces":[
                "application/json"
             ],
             "parameters":[
                {
                   "name":"authorization",
                   "in":"header",
                   "description":"Due to the limitations of the Open API 2 specification authorization headers are supplied on a per function basis. The acceptable formats for this header are `Bearer <session_id>` where `<session_id>` is replaced by the session id or `Digest <api_key_signature>` where `<api_key_signature>` is replaced by the API key signature.",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"fields",
                   "in":"query",
                   "description":"A comma separated list of property fields that should be included in the response model. These values must exist as a properties of the response object. The id field will always be returned regardless.",
                   "type":"string"
                },
                {
                   "name":"userId",
                   "in":"path",
                   "description":"The id of the user.",
                   "required":true,
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"The requested user.",
                   "schema":{
                      "$ref":"#/definitions/user"
                   }
                },
                "400":{
                   "description":"If the request is badly formatted. For specific information see the message in the response.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "401":{
                   "description":"If the credentials used to make the call are invalid or expired.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "403":{
                   "description":"If the caller has insufficient privileges to perform the requested action.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "404":{
                   "description":"If the resource with the specified id does not exist.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "500":{
                   "description":"On rare occasions it is possible that a requests triggers an undefined error. These are reported automatically to the development team.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                }
             }
          },
          "delete":{
             "summary":"delete_user",
             "description":"Delete a user.",
             "tags":[
                "user"
             ],
             "operationId":"delete_user",
             "responses":{
                "204":{
                   "description":"The user was successfully deleted."
                },
                "400":{
                   "description":"If the request is badly formatted. For specific information see the message in the response.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "401":{
                   "description":"If the credentials used to make the call are invalid or expired.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "403":{
                   "description":"If the caller has insufficient privileges to perform the requested action.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "404":{
                   "description":"If the resource with the specified id does not exist.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "500":{
                   "description":"On rare occasions it is possible that a requests triggers an undefined error. These are reported automatically to the development team.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                }
             },
             "parameters":[
                {
                   "name":"authorization",
                   "in":"header",
                   "description":"Due to the limitations of the Open API 2 specification authorization headers are supplied on a per function basis. The acceptable formats for this header are `Bearer <session_id>` where `<session_id>` is replaced by the session id or `Digest <api_key_signature>` where `<api_key_signature>` is replaced by the API key signature.",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"userId",
                   "in":"path",
                   "description":"The id of the user.",
                   "required":true,
                   "type":"string"
                }
             ]
          },
          "patch":{
             "summary":"modify_user",
             "description":"Modify a user. Only supplied properties that differ from the existing will be patched. Note that groups, roles and data have separate functions. Including or omitting them from this function will have no effect.",
             "tags":[
                "user"
             ],
             "operationId":"modify_user",
             "produces":[
                "application/json"
             ],
             "consumes":[
                "application/json"
             ],
             "responses":{
                "201":{
                   "description":"The complete modified `user`.",
                   "schema":{
                      "$ref":"#/definitions/user"
                   }
                },
                "400":{
                   "description":"If the request is badly formatted. For specific information see the message in the response.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "401":{
                   "description":"If the credentials used to make the call are invalid or expired.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "403":{
                   "description":"If the caller has insufficient privileges to perform the requested action.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "500":{
                   "description":"On rare occasions it is possible that a requests triggers an undefined error. These are reported automatically to the development team.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                }
             },
             "parameters":[
                {
                   "name":"authorization",
                   "in":"header",
                   "description":"Due to the limitations of the Open API 2 specification authorization headers are supplied on a per function basis. The acceptable formats for this header are `Bearer <session_id>` where `<session_id>` is replaced by the session id or `Digest <api_key_signature>` where `<api_key_signature>` is replaced by the API key signature.",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"userId",
                   "in":"path",
                   "description":"The id of the user.",
                   "required":true,
                   "type":"string"
                },
                {
                   "in":"body",
                   "name":"body",
                   "required":true,
                   "schema":{
                      "$ref":"#/definitions/user"
                   }
                }
             ]
          }
       },
       "/users/{userId}/datas":{
          "put":{
             "summary":"update_user_data",
             "description":"Update a user data with a new one. The operation is idempotent and the entire model is replaced. To set the data object as empty you must put an object with a single empty KVP: { \"\": [] }",
             "tags":[
                "user"
             ],
             "operationId":"update_user_data",
             "produces":[
                "application/json"
             ],
             "consumes":[
                "application/json"
             ],
             "responses":{
                "201":{
                   "description":"The complete modified `data`.",
                   "schema":{
                      "$ref":"#/definitions/data"
                   }
                },
                "400":{
                   "description":"If the request is badly formatted. For specific information see the message in the response.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "401":{
                   "description":"If the credentials used to make the call are invalid or expired.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "403":{
                   "description":"If the caller has insufficient privileges to perform the requested action.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "500":{
                   "description":"On rare occasions it is possible that a requests triggers an undefined error. These are reported automatically to the development team.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                }
             },
             "parameters":[
                {
                   "name":"authorization",
                   "in":"header",
                   "description":"Due to the limitations of the Open API 2 specification authorization headers are supplied on a per function basis. The acceptable formats for this header are `Bearer <session_id>` where `<session_id>` is replaced by the session id or `Digest <api_key_signature>` where `<api_key_signature>` is replaced by the API key signature.",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"userId",
                   "in":"path",
                   "description":"The id of the user.",
                   "required":true,
                   "type":"string"
                },
                {
                   "in":"body",
                   "name":"body",
                   "required":true,
                   "schema":{
                      "$ref":"#/definitions/data"
                   }
                }
             ]
          }
       },
       "/users/{userId}/roles":{
          "get":{
             "summary":"get_user_roles",
             "description":"Retrieve a collection of user roles.",
             "tags":[
                "user",
                "role"
             ],
             "operationId":"get_user_roles",
             "produces":[
                "application/json"
             ],
             "parameters":[
                {
                   "name":"authorization",
                   "in":"header",
                   "description":"Due to the limitations of the Open API 2 specification authorization headers are supplied on a per function basis. The acceptable formats for this header are `Bearer <session_id>` where `<session_id>` is replaced by the session id or `Digest <api_key_signature>` where `<api_key_signature>` is replaced by the API key signature.",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"sort",
                   "in":"query",
                   "description":"The field name that should be used to sort the resulting collection. This value must exist as a property of the response object otherwise a default sort will be applied.",
                   "type":"string"
                },
                {
                   "name":"page",
                   "in":"query",
                   "description":"The page number to request. If the value is larger than the maximum pages available the last page will be returned. If a value less than 1 is specified the first page will be returned. Collection information is available in the headers.",
                   "type":"integer",
                   "format":"int32"
                },
                {
                   "name":"perPage",
                   "in":"query",
                   "description":"The number of records to include in a single page. If a value of less than 1 is specified a best effort to return the whole collection will be made. This is not guaranteed and the response headers should be checked to obtain any additional pages.",
                   "type":"integer",
                   "format":"int32"
                },
                {
                   "name":"fields",
                   "in":"query",
                   "description":"A comma separated list of property fields that should be included in the response model. These values must exist as a properties of the response object. The id field will always be returned regardless.",
                   "type":"string"
                },
                {
                   "name":"filter",
                   "in":"query",
                   "description":"A URL encoded query filter. For more information on filter formats see the documentation.",
                   "type":"string"
                },
                {
                   "name":"userId",
                   "in":"path",
                   "description":"The id of the user.",
                   "required":true,
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"A collection (or subset) of user roles based on the callers privileges and the query parameters.",
                   "schema":{
                      "type":"array",
                      "items":{
                         "$ref":"#/definitions/role"
                      }
                   }
                },
                "400":{
                   "description":"If the request is badly formatted. For specific information see the message in the response.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "401":{
                   "description":"If the credentials used to make the call are invalid or expired.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "403":{
                   "description":"If the caller has insufficient privileges to perform the requested action.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "500":{
                   "description":"On rare occasions it is possible that a requests triggers an undefined error. These are reported automatically to the development team.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                }
             }
          }
       },
       "/users/{userId}/roles/{roleId}":{
          "put":{
             "summary":"add_role_to_user",
             "description":"Add a role to a user. Note that this function does not create the user or the role. Both must already exist. This function simply creates a binding between them.",
             "tags":[
                "user",
                "role"
             ],
             "operationId":"add_role_to_user",
             "produces":[
                "application/json"
             ],
             "responses":{
                "201":{
                   "description":"A complete collection of all the role ids associated to the user after the function is executed.",
                   "schema":{
                      "type":"array",
                      "items":{
                         "type":"string"
                      }
                   }
                },
                "400":{
                   "description":"If the request is badly formatted. For specific information see the message in the response.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "401":{
                   "description":"If the credentials used to make the call are invalid or expired.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "403":{
                   "description":"If the caller has insufficient privileges to perform the requested action.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "404":{
                   "description":"If any of the resources do not exist.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "500":{
                   "description":"On rare occasions it is possible that a requests triggers an undefined error. These are reported automatically to the development team.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                }
             },
             "parameters":[
                {
                   "name":"authorization",
                   "in":"header",
                   "description":"Due to the limitations of the Open API 2 specification authorization headers are supplied on a per function basis. The acceptable formats for this header are `Bearer <session_id>` where `<session_id>` is replaced by the session id or `Digest <api_key_signature>` where `<api_key_signature>` is replaced by the API key signature.",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"userId",
                   "in":"path",
                   "description":"The id of the user.",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"roleId",
                   "in":"path",
                   "description":"The id of the role.",
                   "required":true,
                   "type":"string"
                }
             ]
          },
          "delete":{
             "summary":"remove_role_from_user",
             "description":"Removes a role from a user. Note that this function does not delete the role, it simply removes the binding between them.",
             "tags":[
                "user",
                "role"
             ],
             "operationId":"remove_role_from_user",
             "produces":[
                "application/json"
             ],
             "responses":{
                "201":{
                   "description":"A complete collection of all the role ids associated to the user after the function is executed.",
                   "schema":{
                      "type":"array",
                      "items":{
                         "type":"string"
                      }
                   }
                },
                "400":{
                   "description":"If the request is badly formatted. For specific information see the message in the response.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "401":{
                   "description":"If the credentials used to make the call are invalid or expired.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "403":{
                   "description":"If the caller has insufficient privileges to perform the requested action.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "404":{
                   "description":"If any of the resources do not exist.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "500":{
                   "description":"On rare occasions it is possible that a requests triggers an undefined error. These are reported automatically to the development team.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                }
             },
             "parameters":[
                {
                   "name":"authorization",
                   "in":"header",
                   "description":"Due to the limitations of the Open API 2 specification authorization headers are supplied on a per function basis. The acceptable formats for this header are `Bearer <session_id>` where `<session_id>` is replaced by the session id or `Digest <api_key_signature>` where `<api_key_signature>` is replaced by the API key signature.",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"userId",
                   "in":"path",
                   "description":"The id of the user.",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"roleId",
                   "in":"path",
                   "description":"The id of the role.",
                   "required":true,
                   "type":"string"
                }
             ]
          }
       },
       "/users/{userId}/groups":{
          "get":{
             "summary":"get_user_groups",
             "description":"Retrieve a collection of user groups.",
             "tags":[
                "user",
                "group"
             ],
             "operationId":"get_user_groups",
             "produces":[
                "application/json"
             ],
             "parameters":[
                {
                   "name":"authorization",
                   "in":"header",
                   "description":"Due to the limitations of the Open API 2 specification authorization headers are supplied on a per function basis. The acceptable formats for this header are `Bearer <session_id>` where `<session_id>` is replaced by the session id or `Digest <api_key_signature>` where `<api_key_signature>` is replaced by the API key signature.",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"sort",
                   "in":"query",
                   "description":"The field name that should be used to sort the resulting collection. This value must exist as a property of the response object otherwise a default sort will be applied.",
                   "type":"string"
                },
                {
                   "name":"page",
                   "in":"query",
                   "description":"The page number to request. If the value is larger than the maximum pages available the last page will be returned. If a value less than 1 is specified the first page will be returned. Collection information is available in the headers.",
                   "type":"integer",
                   "format":"int32"
                },
                {
                   "name":"perPage",
                   "in":"query",
                   "description":"The number of records to include in a single page. If a value of less than 1 is specified a best effort to return the whole collection will be made. This is not guaranteed and the response headers should be checked to obtain any additional pages.",
                   "type":"integer",
                   "format":"int32"
                },
                {
                   "name":"fields",
                   "in":"query",
                   "description":"A comma separated list of property fields that should be included in the response model. These values must exist as a properties of the response object. The id field will always be returned regardless.",
                   "type":"string"
                },
                {
                   "name":"filter",
                   "in":"query",
                   "description":"A URL encoded query filter. For more information on filter formats see the documentation.",
                   "type":"string"
                },
                {
                   "name":"userId",
                   "in":"path",
                   "description":"The id of the user.",
                   "required":true,
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"A collection (or subset) of user groups based on the callers privileges and the query parameters.",
                   "schema":{
                      "type":"array",
                      "items":{
                         "$ref":"#/definitions/group"
                      }
                   }
                },
                "400":{
                   "description":"If the request is badly formatted. For specific information see the message in the response.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "401":{
                   "description":"If the credentials used to make the call are invalid or expired.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "403":{
                   "description":"If the caller has insufficient privileges to perform the requested action.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "500":{
                   "description":"On rare occasions it is possible that a requests triggers an undefined error. These are reported automatically to the development team.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                }
             }
          }
       },
       "/users/{userId}/groups/{groupId}":{
          "put":{
             "summary":"add_group_to_user",
             "description":"Add a group to a user. Note that this function does not create the group or the user. Both must already exist. This function simply creates a binding between them.",
             "tags":[
                "user",
                "group"
             ],
             "operationId":"add_group_to_user",
             "produces":[
                "application/json"
             ],
             "responses":{
                "201":{
                   "description":"A complete collection of all the group ids associated to the user after the function is executed.",
                   "schema":{
                      "type":"array",
                      "items":{
                         "type":"string"
                      }
                   }
                },
                "400":{
                   "description":"If the request is badly formatted. For specific information see the message in the response.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "401":{
                   "description":"If the credentials used to make the call are invalid or expired.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "403":{
                   "description":"If the caller has insufficient privileges to perform the requested action.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "404":{
                   "description":"If any of the resources do not exist.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "500":{
                   "description":"On rare occasions it is possible that a requests triggers an undefined error. These are reported automatically to the development team.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                }
             },
             "parameters":[
                {
                   "name":"authorization",
                   "in":"header",
                   "description":"Due to the limitations of the Open API 2 specification authorization headers are supplied on a per function basis. The acceptable formats for this header are `Bearer <session_id>` where `<session_id>` is replaced by the session id or `Digest <api_key_signature>` where `<api_key_signature>` is replaced by the API key signature.",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"userId",
                   "in":"path",
                   "description":"The id of the user.",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"groupId",
                   "in":"path",
                   "description":"The id of the group.",
                   "required":true,
                   "type":"string"
                }
             ]
          },
          "delete":{
             "summary":"remove_group_from_user",
             "description":"Removes a group from a user. Note that this function does not delete the group, it simply removes the binding between them.",
             "tags":[
                "user",
                "group"
             ],
             "operationId":"remove_group_from_user",
             "produces":[
                "application/json"
             ],
             "responses":{
                "201":{
                   "description":"A complete collection of all the group ids associated to the user after the function is executed.",
                   "schema":{
                      "type":"array",
                      "items":{
                         "type":"string"
                      }
                   }
                },
                "400":{
                   "description":"If the request is badly formatted. For specific information see the message in the response.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "401":{
                   "description":"If the credentials used to make the call are invalid or expired.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "403":{
                   "description":"If the caller has insufficient privileges to perform the requested action.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "404":{
                   "description":"If any of the resources do not exist.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "500":{
                   "description":"On rare occasions it is possible that a requests triggers an undefined error. These are reported automatically to the development team.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                }
             },
             "parameters":[
                {
                   "name":"authorization",
                   "in":"header",
                   "description":"Due to the limitations of the Open API 2 specification authorization headers are supplied on a per function basis. The acceptable formats for this header are `Bearer <session_id>` where `<session_id>` is replaced by the session id or `Digest <api_key_signature>` where `<api_key_signature>` is replaced by the API key signature.",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"userId",
                   "in":"path",
                   "description":"The id of the user.",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"groupId",
                   "in":"path",
                   "description":"The id of the group.",
                   "required":true,
                   "type":"string"
                }
             ]
          }
       },
       "/groups":{
          "get":{
             "summary":"get_groups",
             "description":"Retrieve a collection of groups.",
             "tags":[
                "group"
             ],
             "operationId":"get_groups",
             "produces":[
                "application/json"
             ],
             "parameters":[
                {
                   "name":"authorization",
                   "in":"header",
                   "description":"Due to the limitations of the Open API 2 specification authorization headers are supplied on a per function basis. The acceptable formats for this header are `Bearer <session_id>` where `<session_id>` is replaced by the session id or `Digest <api_key_signature>` where `<api_key_signature>` is replaced by the API key signature.",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"sort",
                   "in":"query",
                   "description":"The field name that should be used to sort the resulting collection. This value must exist as a property of the response object otherwise a default sort will be applied.",
                   "type":"string"
                },
                {
                   "name":"page",
                   "in":"query",
                   "description":"The page number to request. If the value is larger than the maximum pages available the last page will be returned. If a value less than 1 is specified the first page will be returned. Collection information is available in the headers.",
                   "type":"integer",
                   "format":"int32"
                },
                {
                   "name":"perPage",
                   "in":"query",
                   "description":"The number of records to include in a single page. If a value of less than 1 is specified a best effort to return the whole collection will be made. This is not guaranteed and the response headers should be checked to obtain any additional pages.",
                   "type":"integer",
                   "format":"int32"
                },
                {
                   "name":"fields",
                   "in":"query",
                   "description":"A comma separated list of property fields that should be included in the response model. These values must exist as a properties of the response object. The id field will always be returned regardless.",
                   "type":"string"
                },
                {
                   "name":"filter",
                   "in":"query",
                   "description":"A URL encoded query filter. For more information on filter formats see the documentation.",
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"A collection (or subset) of groups based on the callers privileges and the query parameters.",
                   "schema":{
                      "type":"array",
                      "items":{
                         "$ref":"#/definitions/group"
                      }
                   }
                },
                "400":{
                   "description":"If the request is badly formatted. For specific information see the message in the response.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "401":{
                   "description":"If the credentials used to make the call are invalid or expired.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "403":{
                   "description":"If the caller has insufficient privileges to perform the requested action.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "500":{
                   "description":"On rare occasions it is possible that a requests triggers an undefined error. These are reported automatically to the development team.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                }
             }
          },
          "post":{
             "summary":"create_group",
             "description":"Create a new group.",
             "tags":[
                "group"
             ],
             "operationId":"create_group",
             "produces":[
                "application/json"
             ],
             "consumes":[
                "application/json"
             ],
             "responses":{
                "201":{
                   "description":"The created `group` including the auto generated id.",
                   "schema":{
                      "$ref":"#/definitions/group"
                   }
                },
                "400":{
                   "description":"If the request is badly formatted. For specific information see the message in the response.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "401":{
                   "description":"If the credentials used to make the call are invalid or expired.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "403":{
                   "description":"If the caller has insufficient privileges to perform the requested action.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "500":{
                   "description":"On rare occasions it is possible that a requests triggers an undefined error. These are reported automatically to the development team.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                }
             },
             "parameters":[
                {
                   "name":"authorization",
                   "in":"header",
                   "description":"Due to the limitations of the Open API 2 specification authorization headers are supplied on a per function basis. The acceptable formats for this header are `Bearer <session_id>` where `<session_id>` is replaced by the session id or `Digest <api_key_signature>` where `<api_key_signature>` is replaced by the API key signature.",
                   "required":true,
                   "type":"string"
                },
                {
                   "in":"body",
                   "name":"body",
                   "required":true,
                   "schema":{
                      "$ref":"#/definitions/group"
                   }
                }
             ]
          }
       },
       "/groups/{groupId}":{
          "get":{
             "summary":"get_group",
             "description":"Retrieve a specific group by its id.",
             "tags":[
                "group"
             ],
             "operationId":"get_group",
             "produces":[
                "application/json"
             ],
             "parameters":[
                {
                   "name":"authorization",
                   "in":"header",
                   "description":"Due to the limitations of the Open API 2 specification authorization headers are supplied on a per function basis. The acceptable formats for this header are `Bearer <session_id>` where `<session_id>` is replaced by the session id or `Digest <api_key_signature>` where `<api_key_signature>` is replaced by the API key signature.",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"fields",
                   "in":"query",
                   "description":"A comma separated list of property fields that should be included in the response model. These values must exist as a properties of the response object. The id field will always be returned regardless.",
                   "type":"string"
                },
                {
                   "name":"groupId",
                   "in":"path",
                   "description":"The id of the group.",
                   "required":true,
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"The requested group.",
                   "schema":{
                      "$ref":"#/definitions/group"
                   }
                },
                "400":{
                   "description":"If the request is badly formatted. For specific information see the message in the response.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "401":{
                   "description":"If the credentials used to make the call are invalid or expired.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "403":{
                   "description":"If the caller has insufficient privileges to perform the requested action.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "404":{
                   "description":"If the resource with the specified id does not exist.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "500":{
                   "description":"On rare occasions it is possible that a requests triggers an undefined error. These are reported automatically to the development team.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                }
             }
          },
          "delete":{
             "summary":"delete_group",
             "description":"Delete a group. All associated roles will be released and all linked users will lose their associated roles.",
             "tags":[
                "group"
             ],
             "operationId":"delete_group",
             "responses":{
                "204":{
                   "description":"The group was successfully deleted."
                },
                "400":{
                   "description":"If the request is badly formatted. For specific information see the message in the response.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "401":{
                   "description":"If the credentials used to make the call are invalid or expired.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "403":{
                   "description":"If the caller has insufficient privileges to perform the requested action.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "404":{
                   "description":"If the resource with the specified id does not exist.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "500":{
                   "description":"On rare occasions it is possible that a requests triggers an undefined error. These are reported automatically to the development team.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                }
             },
             "parameters":[
                {
                   "name":"authorization",
                   "in":"header",
                   "description":"Due to the limitations of the Open API 2 specification authorization headers are supplied on a per function basis. The acceptable formats for this header are `Bearer <session_id>` where `<session_id>` is replaced by the session id or `Digest <api_key_signature>` where `<api_key_signature>` is replaced by the API key signature.",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"groupId",
                   "in":"path",
                   "description":"The id of the group.",
                   "required":true,
                   "type":"string"
                }
             ]
          },
          "patch":{
             "summary":"modify_group",
             "description":"Modify a group. Only supplied properties that differ from the existing will be patched. Note that roles and data have separate functions. Including or omitting them from this function will have no effect.",
             "tags":[
                "group"
             ],
             "operationId":"modify_group",
             "produces":[
                "application/json"
             ],
             "consumes":[
                "application/json"
             ],
             "responses":{
                "201":{
                   "description":"The complete modified `group`.",
                   "schema":{
                      "$ref":"#/definitions/group"
                   }
                },
                "400":{
                   "description":"If the request is badly formatted. For specific information see the message in the response.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "401":{
                   "description":"If the credentials used to make the call are invalid or expired.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "403":{
                   "description":"If the caller has insufficient privileges to perform the requested action.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "500":{
                   "description":"On rare occasions it is possible that a requests triggers an undefined error. These are reported automatically to the development team.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                }
             },
             "parameters":[
                {
                   "name":"authorization",
                   "in":"header",
                   "description":"Due to the limitations of the Open API 2 specification authorization headers are supplied on a per function basis. The acceptable formats for this header are `Bearer <session_id>` where `<session_id>` is replaced by the session id or `Digest <api_key_signature>` where `<api_key_signature>` is replaced by the API key signature.",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"groupId",
                   "in":"path",
                   "description":"The id of the group.",
                   "required":true,
                   "type":"string"
                },
                {
                   "in":"body",
                   "name":"body",
                   "required":true,
                   "schema":{
                      "$ref":"#/definitions/group"
                   }
                }
             ]
          }
       },
       "/groups/{groupId}/datas":{
          "put":{
             "summary":"update_group_data",
             "description":"Update a group data with a new one. The operation is idempotent and the entire model is replaced. To set the data object as empty you must put an object with a single empty KVP: { \"\": [] }",
             "tags":[
                "group"
             ],
             "operationId":"update_group_data",
             "produces":[
                "application/json"
             ],
             "consumes":[
                "application/json"
             ],
             "responses":{
                "201":{
                   "description":"The complete modified `data`.",
                   "schema":{
                      "$ref":"#/definitions/data"
                   }
                },
                "400":{
                   "description":"If the request is badly formatted. For specific information see the message in the response.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "401":{
                   "description":"If the credentials used to make the call are invalid or expired.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "403":{
                   "description":"If the caller has insufficient privileges to perform the requested action.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "500":{
                   "description":"On rare occasions it is possible that a requests triggers an undefined error. These are reported automatically to the development team.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                }
             },
             "parameters":[
                {
                   "name":"authorization",
                   "in":"header",
                   "description":"Due to the limitations of the Open API 2 specification authorization headers are supplied on a per function basis. The acceptable formats for this header are `Bearer <session_id>` where `<session_id>` is replaced by the session id or `Digest <api_key_signature>` where `<api_key_signature>` is replaced by the API key signature.",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"groupId",
                   "in":"path",
                   "description":"The id of the group.",
                   "required":true,
                   "type":"string"
                },
                {
                   "in":"body",
                   "name":"body",
                   "required":true,
                   "schema":{
                      "$ref":"#/definitions/data"
                   }
                }
             ]
          }
       },
       "/groups/{groupId}/roles":{
          "get":{
             "summary":"get_group_roles",
             "description":"Retrieve a collection of group roles.",
             "tags":[
                "group",
                "role"
             ],
             "operationId":"get_group_roles",
             "produces":[
                "application/json"
             ],
             "parameters":[
                {
                   "name":"authorization",
                   "in":"header",
                   "description":"Due to the limitations of the Open API 2 specification authorization headers are supplied on a per function basis. The acceptable formats for this header are `Bearer <session_id>` where `<session_id>` is replaced by the session id or `Digest <api_key_signature>` where `<api_key_signature>` is replaced by the API key signature.",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"sort",
                   "in":"query",
                   "description":"The field name that should be used to sort the resulting collection. This value must exist as a property of the response object otherwise a default sort will be applied.",
                   "type":"string"
                },
                {
                   "name":"page",
                   "in":"query",
                   "description":"The page number to request. If the value is larger than the maximum pages available the last page will be returned. If a value less than 1 is specified the first page will be returned. Collection information is available in the headers.",
                   "type":"integer",
                   "format":"int32"
                },
                {
                   "name":"perPage",
                   "in":"query",
                   "description":"The number of records to include in a single page. If a value of less than 1 is specified a best effort to return the whole collection will be made. This is not guaranteed and the response headers should be checked to obtain any additional pages.",
                   "type":"integer",
                   "format":"int32"
                },
                {
                   "name":"fields",
                   "in":"query",
                   "description":"A comma separated list of property fields that should be included in the response model. These values must exist as a properties of the response object. The id field will always be returned regardless.",
                   "type":"string"
                },
                {
                   "name":"filter",
                   "in":"query",
                   "description":"A URL encoded query filter. For more information on filter formats see the documentation.",
                   "type":"string"
                },
                {
                   "name":"groupId",
                   "in":"path",
                   "description":"The id of the group.",
                   "required":true,
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"A collection (or subset) of group roles based on the callers privileges and the query parameters.",
                   "schema":{
                      "type":"array",
                      "items":{
                         "$ref":"#/definitions/role"
                      }
                   }
                },
                "400":{
                   "description":"If the request is badly formatted. For specific information see the message in the response.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "401":{
                   "description":"If the credentials used to make the call are invalid or expired.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "403":{
                   "description":"If the caller has insufficient privileges to perform the requested action.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "500":{
                   "description":"On rare occasions it is possible that a requests triggers an undefined error. These are reported automatically to the development team.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                }
             }
          }
       },
       "/groups/{groupId}/roles/{roleId}":{
          "put":{
             "summary":"add_role_to_group",
             "description":"Add a role to a group. Note that this function does not create the group or the role. Both must already exist. This function simply creates a binding between them.",
             "tags":[
                "group",
                "role"
             ],
             "operationId":"add_role_to_group",
             "produces":[
                "application/json"
             ],
             "responses":{
                "201":{
                   "description":"A complete collection of all the role ids associated to the group after the function is executed.",
                   "schema":{
                      "type":"array",
                      "items":{
                         "type":"string"
                      }
                   }
                },
                "400":{
                   "description":"If the request is badly formatted. For specific information see the message in the response.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "401":{
                   "description":"If the credentials used to make the call are invalid or expired.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "403":{
                   "description":"If the caller has insufficient privileges to perform the requested action.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "404":{
                   "description":"If any of the resources do not exist.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "500":{
                   "description":"On rare occasions it is possible that a requests triggers an undefined error. These are reported automatically to the development team.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                }
             },
             "parameters":[
                {
                   "name":"authorization",
                   "in":"header",
                   "description":"Due to the limitations of the Open API 2 specification authorization headers are supplied on a per function basis. The acceptable formats for this header are `Bearer <session_id>` where `<session_id>` is replaced by the session id or `Digest <api_key_signature>` where `<api_key_signature>` is replaced by the API key signature.",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"groupId",
                   "in":"path",
                   "description":"The id of the group.",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"roleId",
                   "in":"path",
                   "description":"The id of the role.",
                   "required":true,
                   "type":"string"
                }
             ]
          },
          "delete":{
             "summary":"remove_role_from_group",
             "description":"Removes a role from a group. Note that this function does not delete the role, it simply removes the binding between them.",
             "tags":[
                "group",
                "role"
             ],
             "operationId":"remove_role_from_group",
             "produces":[
                "application/json"
             ],
             "responses":{
                "201":{
                   "description":"A complete collection of all the role ids associated to the group after the function is executed.",
                   "schema":{
                      "type":"array",
                      "items":{
                         "type":"string"
                      }
                   }
                },
                "400":{
                   "description":"If the request is badly formatted. For specific information see the message in the response.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "401":{
                   "description":"If the credentials used to make the call are invalid or expired.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "403":{
                   "description":"If the caller has insufficient privileges to perform the requested action.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "404":{
                   "description":"If any of the resources do not exist.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "500":{
                   "description":"On rare occasions it is possible that a requests triggers an undefined error. These are reported automatically to the development team.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                }
             },
             "parameters":[
                {
                   "name":"authorization",
                   "in":"header",
                   "description":"Due to the limitations of the Open API 2 specification authorization headers are supplied on a per function basis. The acceptable formats for this header are `Bearer <session_id>` where `<session_id>` is replaced by the session id or `Digest <api_key_signature>` where `<api_key_signature>` is replaced by the API key signature.",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"groupId",
                   "in":"path",
                   "description":"The id of the group.",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"roleId",
                   "in":"path",
                   "description":"The id of the role.",
                   "required":true,
                   "type":"string"
                }
             ]
          }
       },
       "/groups/{groupId}/users":{
          "get":{
             "summary":"get_group_users",
             "description":"Retrieve a collection of group users.",
             "tags":[
                "group",
                "user"
             ],
             "operationId":"get_group_users",
             "produces":[
                "application/json"
             ],
             "parameters":[
                {
                   "name":"authorization",
                   "in":"header",
                   "description":"Due to the limitations of the Open API 2 specification authorization headers are supplied on a per function basis. The acceptable formats for this header are `Bearer <session_id>` where `<session_id>` is replaced by the session id or `Digest <api_key_signature>` where `<api_key_signature>` is replaced by the API key signature.",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"sort",
                   "in":"query",
                   "description":"The field name that should be used to sort the resulting collection. This value must exist as a property of the response object otherwise a default sort will be applied.",
                   "type":"string"
                },
                {
                   "name":"page",
                   "in":"query",
                   "description":"The page number to request. If the value is larger than the maximum pages available the last page will be returned. If a value less than 1 is specified the first page will be returned. Collection information is available in the headers.",
                   "type":"integer",
                   "format":"int32"
                },
                {
                   "name":"perPage",
                   "in":"query",
                   "description":"The number of records to include in a single page. If a value of less than 1 is specified a best effort to return the whole collection will be made. This is not guaranteed and the response headers should be checked to obtain any additional pages.",
                   "type":"integer",
                   "format":"int32"
                },
                {
                   "name":"fields",
                   "in":"query",
                   "description":"A comma separated list of property fields that should be included in the response model. These values must exist as a properties of the response object. The id field will always be returned regardless.",
                   "type":"string"
                },
                {
                   "name":"filter",
                   "in":"query",
                   "description":"A URL encoded query filter. For more information on filter formats see the documentation.",
                   "type":"string"
                },
                {
                   "name":"groupId",
                   "in":"path",
                   "description":"The id of the group.",
                   "required":true,
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"A collection (or subset) of group users based on the callers privileges and the query parameters.",
                   "schema":{
                      "type":"array",
                      "items":{
                         "$ref":"#/definitions/user"
                      }
                   }
                },
                "400":{
                   "description":"If the request is badly formatted. For specific information see the message in the response.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "401":{
                   "description":"If the credentials used to make the call are invalid or expired.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "403":{
                   "description":"If the caller has insufficient privileges to perform the requested action.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                },
                "500":{
                   "description":"On rare occasions it is possible that a requests triggers an undefined error. These are reported automatically to the development team.",
                   "schema":{
                      "$ref":"#/definitions/error"
                   }
                }
             }
          }
       },
       "/roles":{
          "get":{
             "summary":"get_roles",
             "description":"Retrieve a collection of roles.",
             "tags":[
                "role"
             ],
             "operationId":"get_roles",
             "produces":[
                "application/json"
             ],
             "parameters":[
                {
                   "name":"authorization",
                   "in":"header",
[...]
